body{
 background-color: rgb(10, 4, 36);
}

h1{
    color: whitesmoke;
    text-align: center;
    font-family:  'Quicksand';
    text-transform: capitalize;
    font-weight: 800;
}

.p-main{
    color: whitesmoke;
    text-align: center;
    font-family:  'Quicksand';
    font-weight: 300;
    margin: 0px auto 30px auto; 
    max-width: 500px;
    font-size: 16px;
}

p{
    color: whitesmoke;
    font-family: 'Lato';
    text-align: center;
    font-size: 16px;
}

.mainText-container{
    align-content: center;
    margin: 50px auto; 
    width: 90%;
    border-bottom: 4px solid #fdb347;
}

.row, .row-container{
}

.tread-container{
}