body{
 background-color: rgb(10, 4, 36);
}

h1{
    color: whitesmoke;
    text-align: center;
    font-family:  'Quicksand';
    text-transform: capitalize;
    font-weight: 800;
}

.p-main{
    color: whitesmoke;
    text-align: center;
    font-family:  'Quicksand';
    font-weight: 300;
    margin: 0px auto 30px auto; 
    max-width: 500px;
    font-size: 16px;
}

p{
    color: whitesmoke;
    font-family: 'Lato';
    text-align: center;
    font-size: 16px;
}

.mainText-container{
    align-content: center;
    margin: 50px auto; 
    width: 90%;
    border-bottom: 4px solid #fdb347;
}

.table {
    align-content: center;
    margin: 0px auto;
    max-width: 1000px;
    min-width: 500px;
    padding: 10px 10px 60px 10px;
}

.tread-container{
    color: whitesmoke;
    font-family: 'Lato';
    font-size: 16px;
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    min-width: 500px;
    margin: 0 auto;
}



.id{
    text-align: center;
    border: 1px solid rgb(1, 177, 147);
    width: 15%;
    margin: 0 auto;
    min-width: 150px;
}

.user{
    text-align: center;
    border: 1px solid  rgb(1, 177, 147);
    margin: 0px auto;
    width: 15% ;
    min-width: 150px;
    margin: 0px 5px 0 5px;
}

.title{
    text-align: center;
    border: 1px solid rgb(1, 177, 147);
    width: 70%;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 500px;
}

.footer{

}

.headTable{
    align-content: center;
    align-items: center;
    color: whitesmoke;
    font-family: 'Quicksand';
    font-weight: 800;
    font-size: 16px;
    margin: 0px auto;
    display: flex;
    flex-direction: row; 
    max-width: 1000px;
    padding: 10px 10px 1px 10px;
}

.id-head{
    text-align: center;
    border-bottom: 2px solid rgb(201, 22, 22);
    width: 15%;
    margin: 0 auto;
    min-width: 150px;
}

.user-head{
    text-align: center;
    border-bottom: 2px solid rgb(201, 183, 22);
    margin: 0px 8px 0 8px;
    width: 15% ;
    min-width: 150px;
}

.title-head{
    text-align: center;
    border-bottom: 2px solid rgb(22, 180, 201);
    width: 70%;
    margin: 0 auto;
    min-width: 500px;

}